body {
    background-color:rgb(231, 231, 231);
}
.navbar {
    opacity: 0.9 !important;
}
.navbar-brand img{
    width: 100px;
    height: 85px;
}
.nav-item a {
    font-size: 20px;
}
.nav-item a:hover{
    background: black;
    color: #fff !important;
    border-radius: 4px;
}
i {
    cursor: pointer !important;
}

/*Dark background*/
.dark-bg {
    background-image: linear-gradient(rgba(0,0,0, .9),rgba(0,0,0, .9)),url('./img/main_bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#hero .container {
    height: 50vh;
}
.generic {
    padding: 100px 0;
}

/*Latest Section*/

section#latest .latest-item img {
    min-height: 100%;
    width: 100%;
}
section#latest button {
    max-height: 250px;
    padding: 0;
    overflow: hidden;
}
section#latest .latest-item {
    position: relative ;
}
section#latest .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(189, 61, 75, 1);
    opacity: .5;
    color: #fff;
    transition: all 0.5s;
}
section#latest .overlay i {
    transform: translateY(20px);
    transition: .5s;
    opacity: 0;
    font-size: 2rem;
}
section#latest .latest-item:hover .overlay{
    opacity: 1;
    background: rgba(189, 61, 75, 0);
}
section#latest .latest-item:hover i {
    opacity: 1;
    transform: none;
}
iframe{
    margin-top: 100px;
    height: 400px;
}

