/*Dark background*/
.dark-bg {
    background-image: url(/img/main_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 1;
}
#hero .container {
    height: 50vh;
}
.generic {
    padding: 100px 0;
}
