body {
    background-color:rgb(231, 231, 231);
}
.navbar {
    background: rgb(255, 123, 0);
}
.navbar-brand img{
    width: 100px;
    height: 85px;
}
.nav-item a {
    font-size: 20px;
}
.nav-item a:hover{
    background: black;
    color: #fff !important;
    border-radius: 4px;
}
i {
    cursor: pointer !important;
}

/*Dark background*/
.dark-bg {
    background-image: linear-gradient(rgba(0,0,0, .9),rgba(0,0,0, .9)),url('./img/main_bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#hero .container {
    height: 50vh;
}
.generic {
    padding: 100px 0;
}

/*Latest Section*/

section#latest .latest-item img {
    min-height: 100%;
    width: 100%;
}
section#latest button {
    max-height: 250px;
    padding: 0;
    overflow: hidden;
}
section#latest .latest-item {
    position: relative ;
}
section#latest .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(189, 61, 75, 1);
    opacity: .5;
    color: #fff;
    transition: all 0.5s;
}
section#latest .overlay i {
    transform: translateY(20px);
    transition: .5s;
    opacity: 0;
    font-size: 2rem;
}
section#latest .latest-item:hover .overlay{
    opacity: 1;
    background: rgba(189, 61, 75, 0);
}
section#latest .latest-item:hover i {
    opacity: 1;
    transform: none;
}
iframe{
    margin-top: 100px;
    height: 400px;
}

/*ANIMASYONLU KARTLAR*/
.card {
    position: relative;
    transition: 0.5s;
    background: linear-gradient(45deg,#ffbe00,#ff0058);
}
.dark-bg .card:hover{
    transform: translateY(-20px);
}
.dark-bg .card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbe00,#ff0058);
    filter: blur(30px);
}
.dark-bg .card .dairespan {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, .6);
    z-index: 2;
}
.dark-bg .card .card-body {
    position: relative;
    z-index: 5;
}
.dark-bg .card .card-body a{
    color: #fff;
}
.card-body ul {
    display: flex;
    justify-content: flex-end;
}
.card-body .bi {
    font-size: 25px;
}
.card-body .bi:hover {
    color: black;
    cursor: pointer;
}

